#credits, h1, h2, h3 {
  text-align: center;
}

.centeredtext {
  text-align: center;
}

#header, #footer {
  background: #b9c7d2;
}

#content {
  background: #e2e8ef;
}

.logtextarea {
  width: 90%;
  height: 400px;
}

.bold {
  font-weight: bold;
}

.blue {
  color: #0000FF;
}

.green {
  color: #00FF00;
}

#footer {
  height: 50px;
}

#credits {
  margin-top: 15px;
}

.round{
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}
.roundTop{
-moz-border-radius-topleft:         6px;
-moz-border-radius-topright:        6px;
-webkit-border-top-left-radius:     6px;
-webkit-border-top-right-radius:    6px;
border-radius-topleft:              6px;
border-radius-topright:             6px;
}
.roundBottom{
-moz-border-radius-bottomleft:      6px;
-moz-border-radius-bottomright:     6px;
-webkit-border-bottom-left-radius:  6px;
-webkit-border-bottom-right-radius: 6px;
border-radius-bottomleft:           6px;
border-radius-bottomright:          6px;
border-top: none;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

#backlink{
  width: 150px;
}

#baseimagetable {
  margin-top: 20px;
  width: 600px;
}

#projectlisttable {
  margin-top: 20px;
  width: 800px;
}

#patchestable {
  margin-top: 20px;
  width: 800px;
}

#patchedisostable {
  margin-top: 20px;
  width: 600px;
}

#baseimagetable .odd,
#patchestable .odd,
#projectlisttable .odd,
#patchedisostable .odd{
  background: #e8edf4;
}

#baseimagetable .even,
#patchestable .even,
#projectlisttable .even,
#patchedisostable .even{
  background: #e2e8ef;
}

#baseimagetable th,
#patchestable th,
#projectlisttable th,
#patchedisostable th{
  background: #b9c7d2;
}

#baseimagetable td,
#patchestable td,
#projectlisttable td,
#patchedisostable td{
  padding: 5px;
} 

#navbar {
  background: #376990;
}

#subnav {
    background: #b9c7d2;
}

#nav,
#subnav{
  margin: 0px;
  padding: 0px;
  color: #ffffff;
}

#nav a:link,
#nav a:visited,
#subvav a:link,
#subnav a:visited {
  color: #ffffff;
}

#nav a:hover,
#nav a:active,
#subnav a:hover,
#subnav a:active {
  color: #fcff27;
}

#nav a,
#subnav a {
   text-decoration: none;
}

#nav li,
#subnav li {
  margin: 0px;
  padding: 0px;
  display: inline;
  padding: 10px 20px 10px 20px;
}

p {
  margin-top: 10px;
}
