{% extends "patches/base_patches.html" %}
{% block content %}
<h3>List of available patches</h3>
 <table id="patchestable" class="center">
<thead>
	<tr><th>Patch Name</th><th>Last Built</th><th>Actions</th></tr>
</thead>
<tbody>
    {% if patcheslist %}
    	{% for x in patcheslist %}
            <tr><td>{{ x.name }}</td><td>{{ x.lastbuilt }}</td><td>-</td></tr>
    	{% endfor %}
    {% else %}
        <tr><td colspan=3><p class="centeredtext">No patches available</p></td></tr>
    {% endif %}
</tbody>
</table>

{% endblock %}

